__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv/
.git/
.gitignore
README.md
.env
.DS_Store
Dockerfile
.dockerignore
*.log
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.tox/
dist/
build/
*.egg-info/
node_modules/
.npm/
.idea/
.vscode/